@import "reset.css";

@import url('https://fonts.cdnfonts.com/css/gilam');
@import url('https://fonts.cdnfonts.com/css/circe');

body {
    margin: auto;
    background-color: #171717;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 400;
}

section {
    /*margin-left: 230px;*/
    /*margin-right: 230px;*/
}

.section-title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    font-family: 'Circe', sans-serif;
    padding: 40px 230px 0;
}

.section-title img {
    padding-top: 10px;
    height: 33px;
    width: 216px;
}

.section-title a {
    width: 218px;
    height: 50px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding-top: 10px;
}
.section-title a img {
    height: 13px;
    width: 13px;
    box-sizing: content-box;
}

.section1 {
    color: #FFFFFF;
    padding: 100px 230px 0;
}

.section1-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.section1-text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.section1-container-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    grid-template-areas:
            "section1-container1 section1-container1 section1-container2 section1-container2 section1-container3 section1-container3"
            "section1-container4 section1-container4 section1-container4 section1-container5 section1-container5 section1-container5"
}

.section1-container {
    height: 465px;
    background-color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.section1-container1 {
    grid-area: section1-container1;
    background-color: #634F2C;
}

.section1-container2 {
    grid-area: section1-container2;
    background-color: #B4A385;
    padding-right: 40px;
    padding-left: 40px;
}

.section1-container3 {
    grid-area: section1-container3;
    background-color: #E4B564;
}

.section1-container4 {
    grid-area: section1-container4;
    background-color: #635A4A;
}

.section1-container5 {
    grid-area: section1-container5;
    background-color: #B08C4D;
}

.section2 {
    padding: 190px 230px 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.section2-title {
    margin-bottom: 90px;
}

.section2-container-list {
    height: 900px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
    display: grid;
    /* 12x3 */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    grid-template-areas:
            "section2-container1 section2-container2 section2-container3"
            "section2-container1 section2-container2 section2-container3"
            "section2-container1 section2-container2 section2-container3"
            "section2-container1 section2-container2 section2-container6"
            "section2-container4 section2-container2 section2-container6"
            "section2-container4 section2-container2 section2-container6"
            "section2-container4 section2-container5 section2-container6"
            "section2-container4 section2-container5 section2-container6"
            "section2-container4 section2-container5 section2-container7"
            "section2-container4 section2-container5 section2-container7"
            "section2-container4 section2-container5 section2-container7"
            "section2-container4 section2-container5 section2-container7"
}

.section2-container {
    padding-left: 50px;
    padding-top: 40px;
}

.section2-container1 {
    grid-area: section2-container1;
    background-color: #0E0E0E;
}

.section2-container2 {
    grid-area: section2-container2;
    background-color: #242424;
}

.section2-container3 {
    grid-area: section2-container3;
    background-color: #1F1F1F;
}

.section2-container4 {
    grid-area: section2-container4;
    background-color: #1F1F1F;
}

.section2-container5 {
    grid-area: section2-container5;
    background-color: #E4B564;
}

.section2-container6 {
    grid-area: section2-container6;
    background-color: #0E0E0E;
}

.section2-container7 {
    grid-area: section2-container7;
    background-color: #0A0909;
}

.section3 {
    background-color: #0E0E0E;
    padding: 170px 230px 0;
    color: #FFFFFF;
    margin-top: 160px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.section3-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.section3-title a {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 218px;
    height: 50px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding-top: 10px;
}

.section3-container {
    width: 460px;
    height: 391px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3-container img {
    height: 50px;
}

.section3-container img:nth-child(4) {
    height: 140px;
}

.section3-container-list {
    display: flex;
    flex-wrap: wrap;
    height: 782px;
    width: 100%;
    margin-bottom: 240px;
}

.section3-container1 {
    background-color: #634F2C;
}

.section3-container2 {
    background-color: rgba(232, 210, 171, 0.76);
}

.section3-container3 {
    background-color: #E4B564;
}

.section3-container4 {
    background-color: #635A4A;
}

.section3-container5 {
    background-color: #B08C4D;
}

.section3-container6 {
    background-color: #634F2C;
}
